	<style>
		form{
			padding-top: 10%;
			text-align: left;
			position: relative;
			height: 100px;
			width: 200px;
		}
	</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">

<div class="header">
<span><a href="/"><img src="../static/images/dasguttitle.png" width="100" height="100"></a></span>
</div>


<body>
	<center>
		<form method='post' action='/login'>
			<label>
				<img src="../static/images/emailLabel.png"/> <input type='text' name='email'/>
			</label>	
			<label>
				<img src="../static/images/passwordLabel.png"/> <input type='password' name='password'/>
			</label>		
			<br>
			<input type='image' src="../static/images/Login.png"/>
			<hr/>
			<p> <font size="1"></font><i><b>New User?</b><a href="/register"><img src="../static/images/register.png"/></a></i></font></p>
			
		</form>
	<center>
</body>