<style>
	form{
		padding-top: 10%;
		text-align: left;
		position: relative;
	}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">

<div class="header">
<span><a href="/"><img src="../static/images/dasguttitle.png" width="100" height="100"></a></span>
</div>

<body>
		<form method="POST" action="/register">
			<label><img src="../static/images/fullnameLabel.png"/></label><input type="text" name="fullname" value='<%=fullname%>'/>
			<label><img src="../static/images/emailLabel.png"/></label><input type="text" name="email" value='<%=email%>'/>
			<label><img src="../static/images/emailLabel.png"/></label><input type="text" name="confirmEmail"/>
			<label><img src="../static/images/passwordLabel.png"/></label><input type="password" name="password"/>
			<label><img src="../static/images/passwordLabel.png"/></label><input type="password" name="confirmPassword"/>
			<input type="image" src="../static/images/Register.png"/>		
		</form>
</body>
