<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="../static/css/style.css" rel="stylesheet" type="text/css">

<div class="header">
<span><a href="/"><img src="../static/images/dasguttitle.png" width="100" height="100"></a></span>
<span class="loginWelcome">
<% if(currentUser){ %>
	<% if("name" in currentUser){ %>
		<p>Welcome, <%=currentUser.name%><a href="/logout"><font color="red"> Logout</font></a></p>
	<% } %>		
<% }else{ %>
	<p>You have to <a href="/login">log in</a>!</p>
<% } %>	
</span>
</div>
	
	
<div class="container">		
	<div class="leftSection"></div>		
	<div class="centerSection">
		<div id="post_<%=post.title%>">
			<div id="articles" class="articles">
				<h3><%=post.title%></h3>
				<%-post.body%>
			</div>	
			<hr/>
		</div>
	</div>
	<div class="rightSection"></div>
</div>